:root {
  color-scheme: dark light;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

input[type=range] {
  display: block;
}

img, canvas, svg {
  outline: solid 1px CanvasText;
  width: calc((100% / 3.25));
  height: auto;
  margin: 0;
  padding: 0;
}

svg {
  background-color: CanvasText;
}

.preprocess-input {
  display: flex;
}

.filter {
  display: none;
}
