:root {
  color-scheme: dark light;
  --margin: 0.25rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

input[type='range'] {
  display: block;
}

img,
canvas,
svg {
  outline: solid 1px CanvasText;
  width: calc((100% / 2) - (2 * var(--margin)));
  height: auto;
  padding: 0;
}

svg {
  background-color: #131313;
}

.preprocess-input {
  display: flex;
  margin: var(--margin);
}

.drop {
  width: 100%;
  height: 5rem;
  border: solid 0.25rem red;
  display: grid;
  align-content: center;
  justify-content: center;
  margin: var(--margin);
}

.filter {
  display: none;
}

.wrapper {
  display: flex;
  padding: var(--margin);
  gap: var(--margin);
}
