@media (prefers-color-scheme: dark) {
  :root {
    --main-accent-color: hotpink;
    --alternative-accent-color: #337eff;
    --canvas-text: #fff;
    --canvas: #131313;

    background-color: var(--canvas);
    color: var(--canvas-text);
  }

  .dropenter::before {
    background-color: #131313dd;
  }

  .monochrome svg {
    filter: invert(100%);
  }

  button {
    color: var(--canvas-text);
  }

  button.with-bg {
    background-color: var(--canvas);
  }

  .checkerboard {
    background-image:
      linear-gradient(
        45deg,
        #131313 25%,
        transparent 25%,
        transparent 75%,
        #131313 75%,
        #131313 100%
      ),
      linear-gradient(
        45deg,
        #131313 25%,
        #000 25%,
        #000 75%,
        #131313 75%,
        #131313 100%
      );
  }
}
