:root {
  --margin: 0.25rem;
  --100vh: 100vh;

  color-scheme: dark light;
  accent-color: canvastext;
  font-family: system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: var(--100vh);
}

main {
  padding: var(--margin);
  display: flex;
  height: 100%;
}

input[type='range'] {
  display: block;
  width: 10rem;
}

canvas {
  display: none;
  image-rendering: pixelated;
}

.input-image {
  width: auto;
  height: 5rem;
  object-fit: contain;
}

.output-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

output {
  width: 100%;
  height: 0;
  flex-grow: 1;
  display: block;
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee 100%
    ),
    linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}

label {
  font-variant-numeric: tabular-nums;
}

label,
button {
  user-select: none;
}

.preprocess-input {
  display: flex;
  margin: var(--margin);
  height: 2.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--margin);
  gap: var(--margin);
}

.output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--margin);
  width: 100%;
}

.reset-all {
  width: 100%;
}

.dropenter::before {
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fffe;
  content: attr(data-drop-text);
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  svg {
    background-color: #131313;
  }

  .dropenter::before {
    background-color: #131313dd;
  }

  output {
    background-image: linear-gradient(
        45deg,
        #131313 25%,
        transparent 25%,
        transparent 75%,
        #131313 75%,
        #131313 100%
      ),
      linear-gradient(
        45deg,
        #131313 25%,
        #000 25%,
        #000 75%,
        #131313 75%,
        #131313 100%
      );
  }
}
