:root {
  --margin: 0.25rem;
  --100vh: 100vh;
  --menu-height: 2.5ex;
  --accent-color: hotpink;

  color-scheme: dark light;
  accent-color: var(--accent-color);
  font-family: system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: var(--100vh);
  overscroll-behavior: none;
}

main {
  padding: var(--margin);
  display: flex;
  height: 100%;
}

input[type='range'] {
  display: block;
  width: 10rem;
}

canvas {
  display: none;
  image-rendering: pixelated;
}

fieldset {
  border: none;
  margin-inline: 0;
  padding-inline: 0;
  padding-block-start: 0;
  padding-block-end: 0.5rem;
}

.input-image {
  width: auto;
  height: 5rem;
  object-fit: contain;
  position: absolute;
  margin-inline-start: 1px;
  margin-block-start: calc(var(--menu-height) + var(--margin) + 1px);
}

.output-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.icon {
  margin-inline-end: var(--margin);
}

legend svg {
  fill: var(--accent-color);
}

.icon svg {
  width: 2.5ex;
  height: 2.5ex;
  fill: currentColor;
  background-color: transparent;
}

output {
  border: 1px canvastext solid;
  width: 100%;
  height: 0;
  flex-grow: 1;
  display: block;
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee 100%
    ),
    linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}

legend {
  color: var(--accent-color);
  display: flex;
  align-content: center;
}

label {
  font-size: 0.9rem;
  font-variant-numeric: tabular-nums;
}

label,
button {
  user-select: none;
}

button {
  height: 3ex;
  display: flex;
  align-items: center;
  place-content: center;
}

form {
  height: 100%;
}

.preprocess {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.preprocess-input {
  display: flex;
  margin: var(--margin);
  height: 4.5ex;
  align-items: flex-end;
}

.other-input {
  display: flex;
  margin: var(--margin);
  height: 2.75ex;
}

.wrapper {
  width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--margin);
  gap: var(--margin);
}

.fieldsets {
  overflow-y: auto;
}

.menu {
  height: var(--menu-height);
  align-items: center;
  display: flex;
  gap: var(--margin);
}

.output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--margin);
  width: 100%;
}

.reset-all {
  width: 100%;
}

.dropenter::before {
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fffe;
  content: attr(data-drop-text);
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  svg {
    background-color: #131313;
  }

  .dropenter::before {
    background-color: #131313dd;
  }

  .output-image.monochrome {
    filter: invert(100%);
  }

  output {
    background-image: linear-gradient(
        45deg,
        #131313 25%,
        transparent 25%,
        transparent 75%,
        #131313 75%,
        #131313 100%
      ),
      linear-gradient(
        45deg,
        #131313 25%,
        #000 25%,
        #000 75%,
        #131313 75%,
        #131313 100%
      );
  }
}
